<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="../css/pagestyle.css" type="text/css">
<title>天津煎饼果子团购</title>
<header>
</header>

<div class="message">
{{ message }}
</div>

<div class="form-order">
{{ form_start(form) }}

	{{ form_errors(form) }}

	<div>
		{{ form_label(form.name) }}
		{{ form_errors(form.name) }}
		{{ form_widget(form.name) }}

	</div>

	<div>
		{{ form_label(form.tel) }}
		{{ form_errors(form.tel) }}
		{{ form_widget(form.tel) }}
	</div>

	<div>
		{{ form_label(form.quality) }}
		{{ form_errors(form.quality) }}
		{{ form_widget(form.quality) }}
	</div>

	<div>
		{{ form_label(form.pick_time) }}
		{{ form_errors(form.pick_time) }}
		{{ form_widget(form.pick_time) }}
	</div>

	<div>
		{{ form_label(form.remark) }}
		{{ form_errors(form.remark) }}
		{{ form_widget(form.remark) }}
	</div>

	<div>
		{{ form_widget(form.submit) }}
		<button onclick="check();">输入您的称呼查看预定情况</button>
	</div>

{{ form_end(form) }}

</div>

<div class="info">
<div class="reserve">
	本周团购已定{{ reserve }}套
</div>

{% if rows is not null %}
<div class="history">
	您的预定情况:
	<table>
		<tr>
			<th>下订单日期</th>
			<th>套</th>
			<th>取煎饼时间</th>
			<th>备注</th>
			<th></th>

		</tr>
		{% for row in rows %}
			<tr>
				<td>{{ row.order_time }}</a></td>
				<td>{{ row.quality }}</td>
				<td>{{ row.pick_time }}</td>
				<td>{{ row.remark }}</td>
				<td><a onclick="return confirm('确定取消这次订购?');"  type="button" href="/delete/{{ row.id }}/{{ row.name }}" >取消</a></td>
			</tr>

		{% endfor %}

	</table>
</div>
</div>
{% endif %}
<script type="application/javascript">
	function check(){
		var input = document.getElementById("name");
		window.location = "/?name=" + input.value;
	}
</script>